<% if flash.any? %>
<div class="error-alert">
  <% flash.each do |message_type, messages| %>
    <ul>
    <% messages.each do |message| %>
      <li class='error-message'><% message_type %><%= message %></li>
    <% end %>
    </ul>
  <% end %>
</div>
<% end %>
